<%- include('../patient/layouts/header.ejs') %>

    <style>
        .department-block img {
            height: 250px;
            object-fit: cover;
        }
    </style>

    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white">All Department</span>
                        <h1 class="text-capitalize mb-5 text-lg">Care Department</h1>

                        <!-- <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">All Department</a></li>
            </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section service-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>Award winning patient care</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt
                            molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <% departments.forEach(dept => { %>
                    <div class="col-lg-4 col-md-6">
                        <div class="department-block mb-5">
                            <!-- Dynamically set image source with fallback -->
                            <img src="<%= dept.attachments ? '/assets/imgs/uploadedImages/' + dept.attachments : '/images/no photo_LE_upscale_balanced_x4.jpg' %>"
                                alt="<%= dept.department_name %>" class="img-fluid w-100">
                            <div class="content">
                                <h4 class="mt-4 mb-2 title-color">
                                    <%= dept.department_name %>
                                </h4>
                              
                                <a href="/api/view_single_department_page?id=<%= dept.id %>" class="read-more">Learn More
                                    <i class="icofont-simple-right ml-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
            

        </div>
    </section>



    <%- include('../patient/layouts/footer.ejs') %>